<!DOCTYPE>
<html>
<head>
    <title>The RoR development tutorials about page| About</title>
</head>
<body>
<h1>About Us!</h1>
<p>
  If you have to consider something, but you cannot find the way to connect me!, Please contact to us by this email
  <a>larryritchie.developer@gmail.com</a>
  Everything that you need to understand, please ask me before I will be slept.. Thanks you!
</p>
</body>
</html>