<%= provide(:title, 'Help')%>
<!DOCTYPE html>
<html>
    <head>
        <title>The RoR development tutorials help page | <%= yield(:title)%> </title>
    </head>
    <body>
    <h1>Help</h1>
    <p>
      Get help on The RoR Development at the <a href="https://github.com/PhamPhi">Rail Tutorial Help Pages</a>
      to get help on this sample app, see the <a href="https://railstutorial.org/book">Rails Tutorial Book</a>
    </p>
    </body>
</html>
